body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(124, 0, 0);
    background-image: url(https://th.bing.com/th/id/OIP.I0SVZLPP9r8QSAFtgJuC9AHaF7?rs=1&pid=ImgDetMain);
}
.ppd{
    border: 2px rgb(42, 97, 129) solid;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 42, 77, 0.911);
    border-radius: 12px;
    align-content: center;
    padding: 60px 20px 80px 20px;
}    
.anc{
    border: 20px rgb(194, 255, 255) groove;
    border-radius: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: darkblue;
    margin: auto;
    
}
.tt{
    border: 1px solid rgb(160, 0, 0) ;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 6px;
    padding: 0px 6px 0px 6px;

}