.card{
    background-color: white;
    color: rgb(1, 71, 177);
    align-items: center;
    border: 2px solid black;
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 20px;
}
.center{
    border:solid rgb(0, 14, 61);
    border-top-width: 20px;
    border-right-width: 40px;
    border-left-width: 40px;
    width: fit-content;
    margin:auto;

}