.card{
    background-color: white;
    color: rgb(0, 0, 0);
    align-items: center;
    border: 2px solid black;
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 20px;
}
.center{
    justify-content: center;
    border:solid rgb(146, 146, 146);
    border-top-width: 20px;
    border-right-width: 40px;
    border-left-width: 40px;
    width: fit-content;
    margin: auto;
}