 .card{
    border: 2px solid black; 
    align-items: center; 
    width: fit-content; 
    flex-direction: column ; 
    display: flex;
    border-radius: 30px ;
    padding: 15px;
}
 span{
    color: red;
}
 
 body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    align-items: center ; 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}