.lc{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;    
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.cd{
    background-color: white;
    text-align: center;
    border: 2px black solid;
    width:200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.vl{
    align-content: center;
    justify-content: center;
    display: flex;
    column-gap: 15px;
}
.vcd{
    color: green;
    font-weight:bold;
    font-size: 20px;
         
}
.vsd{
    color: orangered;
    font-size: 15px;
    font-weight:600;
    text-decoration: line-through;
}
.img{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.bk{
    background-color: white;
    padding: 30px;
    margin: 70px;
    border-radius: 20px;
    padding-top: 0;
}
body{
    background-color: rgb(28, 0, 54);
}
.imgD{
    width: 550px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
}
.lcD{ 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.864);
    margin: 30px;
    border-radius:20px;
    border: 8px solid gold;
    border-style:dashed;
}
.cdD{
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2px;
    background-color:white;
    margin: 40px;
    text-align: center;
    border-radius: 20px;
    padding: 2px;


    border: 4px solid rgb(45, 2, 85);


}
.lftD{
    font-size: 20px;
    width: fit-content;
    flex-direction: column;
    display: flex;
    padding: 80px;
    text-align: left;
    border-radius: 20px;

    border-left: 4px solid rgb(45, 2, 85);
}
.vlD{
    align-content: center;
    justify-content: center;
    display: flex;
    column-gap: 15px;

}
.vcdD{
    color: green;
    font-weight:bold;
    font-size: 60px;
         
}
.vsdD{
    color: orangered;
    font-size: 45px;
    font-weight:600;
    text-decoration: line-through;
}